@import "../../../colors";

$rhap_theme-color: white;
$rhap_background-color: none; //rgba(60,0,0,0.8);
$rhap_bar-color: $orange;

// Needs to be included here in order to override defautl variables
@import 'react-h5-audio-player/src/styles.scss';

// PLAYER OVERRIDES
.rhap_additional-controls { display: none; }
.rhap_controls-section { display: block; }

.rhap_container {
  border-bottom-left-radius: 30px;
  outline: none;
}
.rhap_main-controls {
  .rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button {
    height: 200px;
    width: 200px;
    background: orange;
    border-radius: 50%;
    outline: none;

    svg {
      height: 200px;
      width: 200px;

      path {
        border-radius: 50%;
        border: 1px solid greenyellow;
      }
    }
  }
}
.rhap_volume-controls {
  justify-content: flex-start;

  .rhap_volume-button, .rhap_volume-bar-area { outline: none; }
}


// PLAYER STYLES

.player {
  border-bottom-left-radius: 30px;
  padding: 100px 0;

  .long-loading-message {
    color: $orange;
    font-size: 28px;

    img {
      width: 38.5px;
      height: 32px;
    }
  }
}
