@import "../../../colors";

$rhap_theme-color: white;
$rhap_background-color: none;//rgba(60,0,0,0.8);
$rhap_bar-color: $orange;

// Needs to be included here in order to override defautl variables
@import 'react-h5-audio-player/src/styles.scss';

// PLAYER OVERRIDES
.rhap_additional-controls { display: none; }
.rhap_controls-section { display: block; }

.rhap_container {
  border-bottom-left-radius: 30px;
  outline: none;
}
.rhap_main-controls {
  .rhap_button-clear.rhap_main-controls-button.rhap_play-pause-button {
    height: 200px;
    width: 200px;
    background: orange;
    border-radius: 50%;
    outline: none;

    svg {
      height: 200px;
      width: 200px;

      path {
        border-radius: 50%;
        border: 1px solid greenyellow;
      }
    }
  }
}
.rhap_volume-controls {
  justify-content: flex-start;

  .rhap_volume-button, .rhap_volume-bar-area { outline: none; }
}


// PLAYER STYLES

.player {
  border-bottom-left-radius: 30px;
  padding: 100px 0;

  img.share-link {
    height: 20px;
    cursor: pointer;
  }

  .share-popup {
    img { height: 30px; }
    a { color: $orange; }

    .copy-link { cursor: pointer; }
  }
}

// SHARE POPUP OVERRIDES
.popup-content {
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  width: 100px !important;
  transition: all .5s;
}

.visualizer {
  width: 100px;
  height: 20px;
  background: $color_bar;
  position: relative;
  transform: translate(-110px, 50px);
  box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 $color_bar, 0 -90px 0 $color_bar, 0 -120px 0 $color_bar;
  animation-name: bar1;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  &:before {
    content: '';
    position: absolute;
    transform: translate(110px, 0);
    @extend .visualizer;
    box-shadow: 0 -30px 0 $color_bar;
    animation-name: bar2;
  }
  &:after {
    content: '';
    position: absolute;
    transform: translate(220px, 0);
    @extend .visualizer;
    box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 $color_bar, 0 -90px 0 $color_bar;
    animation-name: bar3;
  }
}

@keyframes bar1 {
  0%,
  19.9% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%), 0 -90px 0 mix($color_high, $color_bar, 75%), 0 -120px 0 mix($color_high, $color_bar, 100%); }

  20%,
  39.9% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%), 0 -90px 0 mix($color_high, $color_bar, 75%); }

  40%,
  59.9% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%); }

  60%,
  79.9% { box-shadow: 0 -30px 0 $color_bar; }

  80%,
  100% { box-shadow: none; }
}

@keyframes bar2 {
  0%,
  19.9% { box-shadow: none; }

  20%,
  39.9% { box-shadow: 0 -30px 0 $color_bar; }

  40%,
  59.9% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%); }

  60%,
  79.9% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%), 0 -90px 0 mix($color_high, $color_bar, 75%), 0 -120px 0 mix($color_high, $color_bar, 100%); }

  80%,
  100% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%), 0 -90px 0 mix($color_high, $color_bar, 75%); }
}

@keyframes bar3 {
  0%,
  19.9% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%); }

  20%,
  39.9% { box-shadow: 0 -30px 0 $color_bar; }

  40%,
  59.9% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%); }

  60%,
  79.9% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%), 0 -90px 0 mix($color_high, $color_bar, 75%); }

  80%,
  100% { box-shadow: 0 -30px 0 $color_bar, 0 -60px 0 mix($color_high, $color_bar, 50%), 0 -90px 0 mix($color_high, $color_bar, 75%), 0 -120px 0 mix($color_high, $color_bar, 100%); }
}

