@import "./colors.scss";

html, body { min-height: 100vh; }
*, *:before, *:after { box-sizing: border-box; }

.main-banner {
  width: 200px;
  height: 200px;
}

.secondary-banner {
  width: 970;
  height: 90;
}

.additional-banner {
  width: 468px;
  height: 60px;
}

.wrapper {
  height: 100vh;
  background: linear-gradient(90deg, rgba(24,141,154,1) 0%, rgba(47,9,66,1) 35%, rgba(0,212,255,1) 100%);

  .content {
    overflow: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-size: cover;
    // background-position: 0 0;

    .bg-wrapper {
      padding: 20px;
      width: 100%;
      min-height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }
  }
}

// --------------- LOADER START

.loader-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.35);
  .loader {
    animation: spin 1s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #09f;
    border-top-color: #09f;
    box-sizing: border-box;
    height: 20vmin;
    left: calc(50% - 10vmin);
    position: fixed;
    top: calc(50% - 10vmin);
    width: 20vmin;
    z-index: 1;
    &:before {
      animation: spin 2s infinite linear;
      border: solid 2vmin transparent;
      border-radius: 50%;
      border-right-color:  #FF9E29;
      border-top-color:  #FF9E29;
      box-sizing: border-box;
      content: "";
      height: 16vmin;
      left: 0;
      position: absolute;
      top: 0;
      width: 16vmin;
    }
    &:after {
      animation: spin 3s infinite linear;
      border: solid 2vmin transparent;
      border-radius: 50%;
      border-right-color: #6ff;
      border-top-color: #6ff;
      box-sizing: border-box;
      content: "";
      height: 12vmin;
      left: 2vmin;
      position: absolute;
      top: 2vmin;
      width: 12vmin;
    }
  }
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}

// ------------ LOADER END

@media screen and (max-width: 992px) {
  .wrapper {
    position: relative;
    width: 100%;
    background: linear-gradient(90deg, rgb(32, 34, 36) 0%, rgb(0, 0, 0) 100%);

    .hamburger {
      height: 60px;
      overflow: hidden;
      padding: 8px 10px;

      a.logo-link, a.logo-link img {
        height: 100%;
      }

      .toggle {
        position: relative;
        width: 40px;
        height: 100%;
        background: url('images/menu.png');
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        transition: 0.3s;
      }

      .toggle.active {
        background: url('images/close.png');
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        cursor: pointer;
      }
    }

    .content {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .sidebar {
      width: 0%;
      z-index: 10;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(90deg, rgb(19, 175, 192) 0%, rgb(9, 92, 109) 100%);
      overflow-x: hidden;
      transition: 0.3s;
    }
  }
}
