@import '../../colors';

.scheduler-page {
  .scheduler-day-card {
    padding: 20px;
    margin: 20px 0;
    background: white;
    border-radius: 30px;

    h1 { color: $orange; }

    .time-table {
      border: 2px solid black;
      border-radius: 30px;

      .program {
        border-bottom: 2px solid black;

        .program-tooltip {
          border: 2px dashed rgb(107, 107, 107);
          border-radius: 50%;
          padding: 6px;
          height: 30px;
          width: 30px;
          position: relative;

          img {
            width: 18px;
            height: 18px;
          }

          .custom-tooltip {
            display: none;
            position: absolute;
            background: white;
            border-radius: 10px;
            max-height: 200px;
            max-width: 40vw;
            width: 500px;
            box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            bottom: calc(100% + 10px);
            z-index: 60;
            padding: 15px;

            &.active {
              display: flex;
            }

            &:before {
              content: "";
              position: absolute;
              width: 30px;
              height: 30px;
              background: white;
              bottom: -15px;
              left: calc(50% - 15px);
              transform: rotate(45deg);
              z-index: 50;
              box-shadow: 2px 2px 5px -3px rgba(0,0,0,0.75);
            }

            img {
              height: 80px;
              width: 80px;
              object-fit: contain;
            }
          }
        }

        .duration {
          color: gray;
          width: 120px;
          min-width: 120px;

          img {
            width: 25px;
            height: 25px;
            margin-right: 10px;
          }

          .from { border-bottom: 1px solid black; }
          .from, .to { border-right: 1px solid black; }
        }

        .description { font-size: 20px; }
      }

      .program:last-child { border-bottom: none; }
      .no-programs { padding: 20px; }
    }
  }
}

.__react_component_tooltip {
  border-radius: 20px !important;

  .tooltip-wrapper {
    img { width: 100px; }
  }
}

@media screen and (max-width: 992px) {
  .scheduler-page {
    .scheduler-day-card {
      .time-table {
        .program {
          .program-tooltip, .custom-tooltip, .custom-tooltip.active {
            display: none !important;
          }
          .duration {
            width: 100%;

            .from {
              border-bottom: none;
              border-right: 1px solid black;
            }
            .to {
              border-right: none;
            }
            .from, .to {
              display: flex;
              justify-content: center;
              border-bottom: 1px solid black;
              width: 50%;
            }
          }
        }
      }
    }
  }
}

