@import "../../colors";

.recent-container {
  margin-bottom: 20px;

  .video-card {
    background: white;
    color: black;
    border-radius: 20px;

    h3.title { border-bottom: 2px solid $orange }
    iframe {
      min-width: 560px;
    }
  }
}
