@import "../../colors";

.programs-container {
  margin-bottom: 20px;

  .program-card {
    background: white;
    color: black;
    border-radius: 20px;

    h3.title { border-bottom: 2px solid $orange }
    img { width: 560px; }

    .occurences {
      color: gray;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .programs-container {
    .program-card {
      .program-body { flex-direction: row !important; }
    }
  }
}

@media screen and (max-width: 1440px) {
  .programs-container {
    .program-card {
      .description { margin-top: 20px; }
      img { width: 100% !important; }
    }
  }
}

@media screen and (max-width: 992px) {
  .programs-container {
    .program-card {
      img { width: 100% !important; }
    }
  }
}
