button.pwa-install {
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 28px;
}

.install-btn-container {
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 2px solid #ccc;
}

@media screen and (max-width: 992px) {
  .install-btn-container {
    border: 2px solid #ccc;
  }
}

@media screen and (max-width: 576px) {
  .install-btn-container {
    position: static;
    border: none;
    border-top: 2px solid #ccc;
  }
}
