@import '../../colors.scss';

.sidebar-content {
  height: 100%;
  color: white;
  width: 380px;

  header {
    .socials img {
      height: 32px;
      width: 32px;
      fill: white;
    }

    .logo { height: 100px; }
  }

  nav {
    a {
      display: block;
      color: white;
      text-decoration: none;
      font-size: 28px;
      padding: 5px 20px;

      img {
        height: 30px;
        width: 30px;
      }

      &.active {
        color: $orange;
        // background: $dark-grey;
        background: linear-gradient(90deg, rgb(32, 34, 36) 0%, rgb(0, 0, 0) 100%);

        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-left: 4px solid $orange;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sidebar-content {
    width: auto;
    display: flex;
    // justify-content: start;
    padding: 30px 15px 0;
    flex-direction: column;

    nav a.active {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right: 4px solid $orange;
    }
  }
}
