.pagination-loading .circles-wrapper {
  width: 180px;

  .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(45deg,
      rgb(255,163,19) 0%,
      rgb(255,158,41) 35%,
      rgb(255,92,29) 100%);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3);
    transform: translateX(0);
    z-index: 2;

    &:nth-child(1) { animation: move-1 2s infinite; }
    &:nth-child(3) { animation: move-3 2s infinite; }
  }
}
@keyframes move-1 {
  0%   {z-index: 3; transform: translateX(0);}
  25%  {z-index: 3; transform: translateX(80px);}
  50%  {z-index: 3; transform: translateX(0);}

  50.1%{z-index: 1; transform: translateX(0);}
  75%  {z-index: 1; transform: translateX(80px);}
  100% {z-index: 1; transform: translateX(0);}
}
@keyframes move-3 {
  0%   {z-index: 1; transform: translateX(0);}
  25%  {z-index: 1; transform: translateX(-80px);}
  50%  {z-index: 1; transform: translateX(0);}

  50.1%{z-index: 3; transform: translateX(0);}
  75%  {z-index: 3; transform: translateX(-80px);}
  100% {z-index: 3; transform: translateX(0);}
}
